
:root {
    --bg-primary: #000000;
    --text-light: #FFFFFF;
    --text-dark: #1D1D1F;
    --title-primary-color: #F5F5F7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED2B9;
    --items-footer: #424245;

}

header {
    background-color: var(--bg-primary);
    color: var(--text-light);
    height: fit-content;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 12px 0;
}

header nav ul {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

header nav ul li {
    min-width: fit-content;
    height: fit-content;
    padding: 0 0.75rem;
    font-size: small;
    cursor: pointer;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main section {
    text-align: center;
    position: relative;
}

main section img {
    width: 100%;
    height: auto;
    cursor: pointer;
}


main section a {
    color: var(--action-color);
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

main section a:hover {
    text-decoration: underline;
}

main .main-section h1 {
    color: var(--title-primary-color);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;
}

main .main-section h2 {
    color: var(--subtitle-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main .main-section sub {
    font-size: 0.9rem;
}

main section a {
    color: var(--action-color);
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

main section a:hover {
    text-decoration: underline;
}

main .main-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}

main .spirited-section > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main .spirited-section > div:last-child {
    bottom: 50px;
}

main .spirited-section > div:first-child {
    top: 105px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
}

main .spirited-section >div:first-child p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--spirited-main-color);
    letter-spacing: -0.6px;
}

main .spirited-section p {
    color: var(--title-primary-color);
  
}

main .spirited-section span {
    color: var(--text-light);
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    letter-spacing: 0.23px;
}

/*iPhones*/

main .iphone-section .title {
    color: var(--text-dark);

}

main .iphone-section .description {
    color: var(--text-dark);
   
}

main .iphone-section .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

main .iphone-section sub {
    font-size: 0.9rem;
}


main .iphone-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}

/*Grid*/

main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    margin: 1rem;
}

main .title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;
}

main .description {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
 }

 main .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 51px;
}

main .iphonePro-section .title {
    color: var(--title-primary-color);
} 

main .iphonePro-section .description {
    color: var(--title-primary-color);

}

main .ipad-section .title {
    color: var(--text-dark);

} 

main .apple-present {
    width: 30px;
    height: 37px;
}

main .watch-section .apple-watch, .apple-ultra {
    width: 430px;
    height: 52px;
    margin-bottom: 1rem;
} 

main .watch-section .description {
    color: var(--text-light);
}

main .link-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .gift-section .gift-card {
    width: 430px;
    height: 33px;
}  

footer {
    margin-top: 51px;
    display: flex;
    justify-content: space-evenly;
}

footer section {
    margin-bottom: 1.5rem;
}

footer h3 {
    color: var(--text-dark);
    font-size: 12px;

}

footer section ul li {
    font-size: small;
    list-style: none;
    color: var(--items-footer);
    padding: 8px 0;
}

/*Media*/

@media screen and (max-width: 768px) {
    header nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        padding: 0; 
    }

    header nav ul li img {
        margin: 0.3rem;
    }
    
    main .main-section h1 {
        font-size: 1rem;
        margin: 0;
    }

    main .main-section h2 {
        font-size: 1rem;
        line-height: 1rem;
    }

    main .main-section .text-wrapper{
        margin: 0.8rem;
    }

    main .spirited-section >div:first-child p {
        font-size: 1.5rem;

    }

    main .spirited-section > div:first-child {
        top: 30px;
        max-width: 75%;
    }

    main .spirited-section > div:last-child {
        bottom: 20px;
    }

    main .spirited-section span {
        font-size: 0.7rem;
        
    }

   main .title {
    font-size: 1.5rem;
    line-height: 2rem;
   }

   main .iphone-section .text-wrapper {
    margin-top: 0;

   }

   main .iphone-section .text-wrapper p {
    margin-bottom: 0;
   }

   main .grid .title {
    font-size: 1rem;
    line-height: 1.2rem;
   }

   main .grid a{
    line-height: 1rem;
    font-size: 0.8rem;
   }

   main .grid .description {
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 1.2rem;

   }

   main .grid .text-wrapper {
    margin-top: 1rem;

   }

   main .watch-section .text-wrapper {
    margin-top: 1rem;
   }

   main .watch-section .text-wrapper img {
    margin-bottom: 0.3rem;
   }

}

@media screen and (max-width: 425px) {
    header nav ul li {
        padding: 8px;
        margin: 3px 0 0 0;
    }

    main .iphone-section .text-wrapper .description {
      font-size: small;
      line-height: 1.5rem;
    }

    main .grid .text-wrapper .title {
        font-size: 0.5rem;
        line-height: 0.2rem;
    }

    main .link-wrapper {
        font-size: 0.5rem;
        gap: 0.3rem;
    }

    main .grid .description {
        line-height: 0;
    }

    main .ipad-section .text-wrapper .description {
        line-height: 0.7rem;
    }

    main .watch-section .text-wrapper .description {
        line-height: 0;
    }

    main .watch-section .text-wrapper .link-wrapper a {
        line-height: 1.2rem;
    }

}



@media screen and (max-width: 480px) {
    footer {
        display: none;
    }

    main .main-section h1 {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    main .main-section h2 {
        font-size: 0.6rem;
        margin-top: 0.4rem;
        white-space: nowrap;
    }

    main .main-section .text-wrapper a {
        font-size: 0.8rem;
        line-height: 0;
    }

    main .spirited-section >div:first-child p {
        font-size: 1rem;
    }

    main .spirited-section > div:first-child {
        top: 10px;
    }

    main .spirited-section span {
        font-size: 0.5rem;
        
    }

    main .spirited-section > div:last-child {
        bottom: 5px;
        font-size: 0.7rem;
    }

    main .title {
        font-size: 1rem;
        line-height: 1rem;
    }
    
    main .iphone-section .text-wrapper p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    main .iphone-section .text-wrapper a {
        font-size: 1rem;
    }

    main .grid .title {
        font-size: 0.8rem;
        line-height: 0.5rem;
    }

    main .grid .description {
        font-size: 0.5rem;
        margin-bottom: 0;
        line-height: 1rem;
    
    }

    main .grid a {
        font-size: 0.5rem;
        line-height: 0.3rem;
        
    }

    main .airpods-section .text-wrapper {
        margin-top: 5px;
    }

    main .airpods-section .text-wrapper h2 {
        font-size: 0.6rem;
    }

    main .airpods-section .apple-present {
        width: 20px;
        height: 27px;
    }

    main .watch-section .apple-watch {
        width: 200px;
        height: 23px;
    }

    main .watch-section .text-wrapper {
        line-height: 0;
    }

    main .watchUltra-section .apple-ultra {
        width: 240px;
        height: 32px;
        margin: 0;
    }

    main .watchUltra-section .text-wrapper {
        line-height: 0;
        margin: 0;
    }

    main .gift-section .gift-card {
        width: 200px;
        height: 18px;
    }

    main .gift-section .text-wrapper {
        margin: 0;
    }

}

@media screen and (max-width: 320px) {
   main .main-section h1 {
    font-size: 0.5rem;
   }

   main .main-section .text-wrapper h2 {
    font-size: 0.5rem;
    line-height: 0;
   }

   main .main-section .text-wrapper a {
    font-size: 0.8rem;
   }

   main .spirited-section >div:first-child p {
    font-size: 0.5rem;
   }

   main .spirited-section > div:first-child {
    top: 10px;
    max-width: 75%;
}

main .spirited-section > div:last-child {
    bottom: 5px;
    }

main .spirited-section span {
    font-size: 0.3rem;
    
    }

    main .spirited-section p {
        font-size: 0.3rem;
    }

    main .iphone-section .text-wrapper .description {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    main .iphone-section .text-wrapper a {
        font-size: 0.7rem;
        line-height: 0.8rem;
    }

    main .grid {
        display: flex;
        flex-direction: column;
    }

    main .text-wrapper a {
        line-height: 1rem;
    }


}

 